@import 'reset.css';

@font-face {
	font-family: norse;
	src: url(fonts/Norse-Bold.otf);
}

body {
	display: flex;
	height: 100vh;
	width: 100vw;
	background-color: #F9FAFB;
}

.sidebar {
	flex: 0 0 33vw;
	background: url(images/halie-west-25xggax4bSA-unsplash.jpg) center/cover;
	position: relative;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 22vh;

	background-color: #00000099;
	color: #ffffff;
	width: 100%;
}
 
.title img {
	height: 11.2rem;
}

.title h1 {
	font-family: norse;
	font-size: 8.8rem;
	position: relative;
	top: 10px;
}

.photo-credit {
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 1.2rem;
}

.photo-credit a {
	color: #ffffff;
}

.main-content {
	flex: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-header {
	width: 80%;
	font-size: 2rem;
	font-weight: bold;
	padding-left: 40px;
	margin-bottom: 20px;
}

.form-header p {
	margin-bottom: 20px;
}

.form-content {
	display: flex;
	flex-direction: column;

	padding: 20px 40px;
	margin-bottom: 40px;
	background-color: #ffffff;
	box-shadow: 5px 5px 5px #E0E0E0;
}

.form-content h2 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.form-row	{
	display: flex;

	margin-bottom: 10px;
}

.form-control {
	display: flex;
	flex-direction: column;

	width: 300px;
}

.form-control + .form-control {
	margin-left: 60px;
}

.form-control input {
	border: 1px solid #e5e7eb;
	border-radius: 6px;
}

.form-control input:user-invalid {
	border-color: red;
}

.form-control input:focus {
	outline: none;
	border-color: blue;
	box-shadow: 1px 3px 3px #E0E0E0;
}

.form-footer {
	padding-left: 40px;
}

button {
	margin-bottom: 20px;
	padding: 10px 50px;
	color: white;
	font-weight: bold;
	border: 0px;
	border-radius: 6px;
	background-color: #596D48;
	box-shadow: 5px 5px 5px #E0E0E0;
}

.form-footer a {
	color: #596D48;
	font-weight: bold;
	text-decoration: none;
}